@tailwind base;
@tailwind components;
@tailwind utilities;

.addOpacity,
button {
  opacity:1;
  filter:alpha(opacity=40); 
}
.addOpacity:hover,
button:hover {
  opacity:0.4;
  filter:alpha(opacity=100); 
}

.applyOpacity {
  opacity:0.4;
}