/* src/components/CalendarView.css */

.calendar-view {
  position: relative;
}

.configuration-button {
  color: #b0b0b0; /* Light silver color */
  &:hover {
    color: #4c51bf; /* Indigo hover color */
  }
}

.fade-enter {
  opacity: 0;
  transform: translateX(-20%);
}
.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.fade-exit {
  opacity: 1;
  transform: translateX(0);
}
.fade-exit-active {
  opacity: 0;
  transform: translateX(20%);
  transition: opacity 300ms, transform 300ms;
}

